/*
* Background of alert dialogs
*/
.alertdialog {
    -fx-background-color: #262626;
    -fx-font-family: 'Lato', sans-serif;
}

/*
* Header background of alert dialogs
*/
.alertdialog:header *.header-panel {
    -fx-background-color: #363636;
}

/*
* Content of alert dialogs
*/
.alertdialog > *.label.content {
    -fx-text-fill: #F1F1F1;
}

/*
* Header content of alert dialogs
*/
.alertdialog:header *.header-panel *.label {
    -fx-text-fill: #F1F1F1;
}

/*
* Buttons in alert dialogs
*/
.alertdialog  > *.button-bar > *.container > *.button {
    -fx-font-family: 'Nunito', sans-serif;
    -fx-text-fill: #E2E2E2;
    -fx-background-color: #262626;
    -fx-background-radius: 0px;
}

.alertdialog  > *.button-bar > *.container > *.button:hover{
    -fx-background-color: #505050;
}

.alertdialog  > *.button-bar > *.container > *.button:pressed {
    -fx-background-color: #D2D2D2;
    -fx-text-fill: #000000;
}

.alertdialog  > *.button-bar > *.container > *.button:default {
    -fx-background-color: #58B8FE;
}